# OS
.DS_Store

# Node
node_modules/
frontend/node_modules/
backend/node_modules/
coverage/
*.log
logs/

# Java/Maven
api-gateway/target/
*.iml
.idea/

# Editors
.vscode/

# Builds
build/
dist/

# Env
.env 